* {
  padding: 0;
  margin: 0;
  background-color: rgb(223, 225, 195);
}

header {
  position: absolute;
  top: 0px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  font-size: 3vh;
  font-style: italic;
  background-color: rgb(103, 121, 74);
  padding-block: 1vh;
  border-bottom: 0.25vh solid black;
  box-shadow: 0 0 7vh 3.5vh rgb(131, 137, 114);
}

b {
  background-color: rgb(103, 121, 74);
}

a {
  background-color: rgb(103, 121, 74);
  color: black;
  font-size: 2vh;
  margin-inline: 4vw;
  top: 1.25vh;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 4.5vh;
  margin-block: 2vh;
  text-shadow: 0.2vh 0.2vh 6px rgb(131, 137, 114);
}

form {
  width: 30vh;
  display: flex;
  flex-direction: column;
}

h3 {
  font-size: 3.5vh;
  margin-top: 1.5vh;
  margin-bottom: 0.25vh;
  text-shadow: 0.1vh 0.1vh 4px rgb(131, 137, 114);
}

.highScore {
  background-color: rgb(223, 225, 195);
  font-size: 2.5vh;
  align-self: flex-end;
}

button {
  align-self: center;
  width: 11vh;
  padding-block: 0.25vh;
  font-size: 1.75vh;
  margin-top: 1.5vh;
  margin-bottom: 0.5vh;
  border-radius: 0.5vh;
  box-shadow: 0.3vh 0.3vh 5px rgb(131, 137, 114);
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100vw;
  font-size: 1.5vh;
  text-align: center;
  background-color: rgb(103, 121, 74);
  padding-block: 1vh;
  border-top: 0.25vh solid black;
  box-shadow: 0 0 7vh 3.5vh rgb(131, 137, 114);
}

p {
  background-color: rgb(103, 121, 74);
}
